.aboutPage {
   background-image: url("../../images/aboutf.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 200px;
   margin-bottom: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: bisque;
    margin: 0 auto;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.heading {
    margin-bottom: .25rem;
}

.sayings {
    width: 100%;
    margin: 0 auto;
    line-height: 2rem;
}

.para {
    height: 12vh;
    text-align: left;
    padding-bottom: .5rem;
}

.numberOfItems {
  position: absolute;
  top: 25px;
  right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  font-size: 20px;
  padding-bottom: 2px;
}

.hideNumItems {
    display: none;
}