.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.logo {
    width: 80px;
}

a {
    font-size: 35px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: .35rem;
    border: none;
    border-radius: 10px;
}

.logoLink {
    background-color: transparent;
}

.navLinks:hover {
    background-color: rgb(234, 234, 234);
}

.alignLogoCenter {
    margin-top: 5px;
}