.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.logo {
    width: 90px;
    margin-top: 5px;
}

a {
    font-size: 35px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: .35rem;
    border: none;
    border-radius: 10px;
}

.logoLink :not(hover) {
    background-color: transparent;
}

.loginLink:hover {
    background-color: rgb(242, 235, 235);
}

.registerLink:hover {
    background-color: rgb(242, 235, 235);
}

.productsLink:hover {
    background-color: rgb(242, 235, 235);
}