.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    width: 700px;
    background: bisque;
    padding-bottom: 30px;
    border-radius: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 600px;
    background-color: lightcyan;
    padding: 1rem;
    border-radius: 20px;
}

.price {
    margin-left: 2rem;
}

.pic {
    width: 50px;
    height: 50px;
    margin-right: 8rem;
}

.name {
    margin-right: 4rem;
}

.delete:hover {
    background-color: rgb(249, 240, 229);
    cursor: pointer;
}

.add {
    width: 30px;
    margin-right: .25rem;
    font-size: 20px;
    background-color: bisque;
    border-radius: 10px;
}

.add:hover {
    background-color: rgb(249, 240, 229);
    cursor: pointer;
}

.sub:hover {
    background-color: rgb(249, 240, 229);
    cursor: pointer;
}

.sub {
    width: 30px;
    margin-left: .25rem;
    font-size: 20px;
    background-color: bisque;
    border-radius: 10px;
}

.delete {
    width: 30px;
    border-radius: 30px;
    margin-left: 1rem;
    font-size: 20px;
    background-color: bisque;
    border-radius: 10px;
}

.submitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 60px auto;
}

.purchaseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    color: black;
    background-color: lightcyan;
    border-radius: 50px;
    border: none;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}