.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    width: 600px;
    background: bisque;
    padding-bottom: 30px;
    border-radius: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 400px;
    background-color: lightcyan;
    padding: 1rem;
    border-radius: 20px;
}

.price {
    margin-left: 2rem;
}

.pic {
    width: 50px;
    height: 50px;
    margin-right: 8rem;
}

.name {
    margin-right: 4rem;
}

.delButton {
    background-color: bisque;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 1rem;
}

.delButton:hover {
    background-color: rgb(249, 240, 229);
    cursor: pointer;
}