.footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    background-color: bisque;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}