.pageContainer {
    max-width: 1200px; /* Set a maximum width for the page content */
    margin: 0 auto; /* Center align the content */
    /* padding: 2rem; Add some padding to the content */
  }
  
  /* Title styles */
  .pageTitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  /* Grid styles */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Responsive grid with a minimum item width of 250px */
    gap: 50px; /* Add some spacing between grid items */
    justify-items: center; /* Center align grid items horizontally */
  }
