.pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 calc(25% - 20px);
    padding: 20px;
    gap: 20px;
}
  
  /* Title styles */
.pageTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
  
  /* Grid styles */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid with a minimum item width of 250px */
  gap: 10px; /* Add some spacing between grid items */
  justify-items: center; /* Center align grid items horizontally */
  flex-wrap: wrap;
  justify-content: center;
}

.numberOfItems {
  position: absolute;
  top: 25px;
  right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  font-size: 20px;
  padding-bottom: 2px;
}

.hideNumItems {
    display: none;
}