.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

/* Card styles */
.card {
  width: 100%;
  max-width: 300px; /* Adjust the maximum width as needed */
  border: 1px solid rgb(113, 94, 94); /* Border color */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(118, 160, 169, 0.228); /* Card background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px gray;
}

.singleCard {
  width: 100%;
  max-width: 450px; /* Adjust the maximum width as needed */
  border: 1px solid rgb(113, 94, 94); /* Border color */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: rgba(118, 160, 169, 0.228); /* Card background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  box-shadow: 3px 3px 8px gray;
}

/* Hover effect on the card */
.card:hover {
  transform: scale(1.05);
}

/* Link styles */
.link {
  text-decoration: none;
  color: inherit;
  display: block;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.singleImg {
  text-decoration: none;
  color: inherit;
  display: block;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  width: 400px;
  height: 400px;
}
  
/* Image styles */
.img {
  max-width: 100%;
  height: 300px;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Card body styles */
.cardBody {
  padding: .5rem;
}

/* Heading styles */
.heading {
  font-size: 2rem;
  margin: 0;
}

.singleHeading {
  font-size: 2.5rem;
  margin: 0;
}
  
/* Description styles */
.cardBody p {
  margin: 0;
  font-size: 1.2rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .item {
    margin: 1rem 0;
  }

  .card {
    max-width: 100%; /* Full width on smaller screens */
  }
}

.cartButton {
  margin-bottom: 2rem;
}

.singleCartButton {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cart {
  font-size: 18px;
  font-weight: bold;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10px;
}

.singleCart {
  font-size: 28px;
  font-weight: bold;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10px;
}

.cart:hover {
  background-color: rgb(238, 230, 219);
}

.para {
  font-size: 2.5em;
  line-height: 2rem;
}