.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 600px;
    background: bisque;
    padding-bottom: 30px;
    border-radius: 20px;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 60px;
}

.text {
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: black;
    border-radius: 9px;
    margin-bottom: 2rem;
}
  
 
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  width: 500px;
  background-color: lightcyan;
  border-radius: 20px;
}
  
.price {
  margin: .25rem .15rem .25rem 2rem;
}
  
 
.pic {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
  
 
.name {
  width: 150px;
  margin-right: 1rem;
  font-size: 1.25em;
}
  

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  background-color: bisque;
  cursor: pointer;
  margin-left: .25rem;
}
  
.delete:hover {
  background-color: rgb(249, 240, 229);
}
  

.quantity {
  display: flex;
  align-items: center;
}
  
.add,
.sub {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  background-color: bisque;
  cursor: pointer;
  margin: 0 0.25rem;
}
  
.add:hover,
.sub:hover {
  background-color: rgb(249, 240, 229);
}
  

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
  

.purchaseButton {
  width: 200px;
  height: 59px;
  color: black;
  background-color: lightcyan;
  border-radius: 50px;
  border: none;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  margin: .5rem;
}

.clearButton {
  width: 200px;
  height: 59px;
  color: black;
  background-color: lightcyan;
  border-radius: 50px;
  border: none;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  margin: .5rem;
}


.trash {
  margin-right: 1px;
  width: 20px;
  height: 20px;
}

.editButton {
    background-color: bisque;
    cursor: pointer;
    font-size: 20px;
}

.deleteButton:hover {
    background-color: aliceblue;
}

.numberOfItems {
  position: absolute;
  top: 25px;
  right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  font-size: 20px;
  padding-bottom: 2px;
}

.hideNumItems {
    display: none;
}

.cartItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}